@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

.main {
    padding: 250px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-first-block {
    justify-content: flex-start;
}

.flex-second-block {
    justify-content: space-between;
}

.flex-third-block {
    justify-content: space-between;
}

.firstName, .lastName {
    width: 33%;
}

.patronymic {
    width: 34%;
}
.address {
    max-width: 432px;
}
.checkBoxDiv{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

textarea {
    resize: none;
}