@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

.main {
    padding: 100px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-first-block {
    justify-content: flex-start;
}

.flex-second-block {
    justify-content: space-between;
}

.flex-third-block {
    justify-content: flex-end;
}

.firstName, .lastName {
    width: 33%;
}

.patronimic {
    width: 34%;
}

textarea {
    resize: none;
}